{% extends "header.html" %}

{% block heading %}About Me{% end %}

{% block body %}

<p>
My first love was mathematics ever since I took my first calculus class at 14. I studied mathematics at Texas A&M, where I was at the time interested in historical mathematics.
I did a bit of research <a href="../static/personal/Fall_2016_MATH_491.pdf" target = "blank">translating texts in number theory from French</a> and was interested in 
<a href="../static/personal/Whiteboard_Talk.pdf" target = "blank">divergent series</a>.
</p>

<p>
After finishing my degree I spent a small bit of time working with a nonprofit before pursuing my masters degree in analytics
at The University of Texas at Austin. My course work primarily consisted of statistics and programming with a focus upon
applications to business, and I became much more interested in these areas as a result. I recently graduated and now work as an Assistant Vice President in Quantitative Finance (Financial Engineering) at Bank of America.
Here is my <a href="../static/personal/resume.pdf" target = "blank">resume</a> if you'd like to take a look.
</p>

<div class='heading'>Contact Information</div><hr/>

<p>
Email: chrishenson.net@gmail.com<br>
GitHub: <a class="title" href="https://github.com/chenson2018/" target="blank">chenson2018</a><br>
Twitter: <a class="title" href="https://twitter.com/_chenson__" target="blank">_chenson__</a><br>
LinkedIn: <a class="title" href="https://www.linkedin.com/in/christopher-henson/" target="blank">christopher-henson</a><br>
</p>

{% end %}


